# NF26/AI07 - TD2 : Création d'un Modèle en Étoile (Correction)

**Auteur :** Cyprien Gilet

In [1]:
import os
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, date

import pyspark.pandas as ps
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [4]:
spark = SparkSession.builder.getOrCreate()

## Introduction

## Lecture des données

In [7]:
psdf_administration = ps.read_csv('data_administration.csv', index_col='KeyConsult')
psdf_administration.head(10)

                      KeyPatient       Name      FirstName  NumSecu    Date_In    Pathology     KeyChambre ChambreNumber   Date_Out
KeyConsult
KeyConsult45056  KeyPatient10546  Name10546  FistName10546  NS45057 2023-11-25  Pathology22   KeyChambre81          C081 2023-11-26
KeyConsult45057  KeyPatient45482  Name45482  FistName45482  NS45058 2023-11-25  Pathology34  KeyChambre102          C102 2023-11-26
KeyConsult45058  KeyPatient37050  Name37050  FistName37050  NS45059 2023-11-25  Pathology84   KeyChambre22          C022 2023-12-05
KeyConsult45059  KeyPatient39793  Name39793  FistName39793  NS45060 2023-11-25  Pathology78    KeyChambre4          C004 2023-12-01
KeyConsult45060  KeyPatient17652  Name17652  FistName17652  NS45061 2023-11-25  Pathology15   KeyChambre29          C029 2023-11-26
KeyConsult45061  KeyPatient40034  Name40034  FistName40034  NS45062 2023-11-25   Pathology7   KeyChambre60          C060 2023-11-26
KeyConsult45062  KeyPatient38237  Name38237  FistName38237  NS45063 2023-11-25   Pathology7    KeyChambre5          C005 2023-11-27
KeyConsult45063  KeyPatient17519  Name17519  FistName17519  NS45064 2023-11-25  Pathology67   KeyChambre84          C084 2023-12-03
KeyConsult45064  KeyPatient28813  Name28813  FistName28813  NS45065 2023-11-25  Pathology56   KeyChambre51          C051 2023-11-26
KeyConsult45065  KeyPatient20313  Name20313  FistName20313  NS45066 2023-11-25  Pathology54   KeyChambre37          C037 2023-11-26

In [8]:
psdf_medecins = ps.read_csv('data_medecins.csv', index_col='KeyMedecin')
psdf_medecins.head(10)

                NameMedecin    FirstNameMedecin SpecialityMedecin
KeyMedecin
keyMedecin26  NameMedecin26  FirstNameMedecin26       Generaliste
keyMedecin27  NameMedecin27  FirstNameMedecin27        Chirurgien
keyMedecin28  NameMedecin28  FirstNameMedecin28    Dermatologiste
keyMedecin29  NameMedecin29  FirstNameMedecin29       Generaliste
keyMedecin16  NameMedecin16  FirstNameMedecin16        Chirurgien
keyMedecin17  NameMedecin17  FirstNameMedecin17        Chirurgien
keyMedecin18  NameMedecin18  FirstNameMedecin18        Chirurgien
keyMedecin19  NameMedecin19  FirstNameMedecin19       Generaliste
keyMedecin6    NameMedecin6   FirstNameMedecin6    Dermatologiste
keyMedecin7    NameMedecin7   FirstNameMedecin7        Chirurgien

In [9]:
psdf_diagnostics = ps.read_csv('data_diagnostics.csv', index_col='KeyConsult')
psdf_diagnostics.head(10)

                   KeyMedecin       KeyPatient NamePatient FirstNamePatient  NumSecu  Age     Weight  Temperature     Tension  Diabete    Pathology       KeyTreatment
KeyConsult
KeyConsult45056  keyMedecin26  KeyPatient10546   Name10546    FistName10546  NS45057   24  58.759522    37.459899  135.700753        0  Pathology22  KeyTreatment45056
KeyConsult45057  keyMedecin22  KeyPatient45482   Name45482    FistName45482  NS45058   19  58.422513    37.488268   95.790925        0  Pathology34  KeyTreatment45057
KeyConsult45058  keyMedecin14  KeyPatient37050   Name37050    FistName37050  NS45059   50  80.125748    38.023957   89.173819        1  Pathology84  KeyTreatment45058
KeyConsult45059  keyMedecin29  KeyPatient39793   Name39793    FistName39793  NS45060   76  69.306556    39.966692  116.606928        0  Pathology78  KeyTreatment45059
KeyConsult45060  keyMedecin18  KeyPatient17652   Name17652    FistName17652  NS45061   22  56.173338    37.463554  161.955995        0  Pathology15  KeyTreatment45060
KeyConsult45061  keyMedecin21  KeyPatient40034   Name40034    FistName40034  NS45062   16  55.421938    37.554036  153.418985        0   Pathology7  KeyTreatment45061
KeyConsult45062  keyMedecin18  KeyPatient38237   Name38237    FistName38237  NS45063   22  63.067835    37.213361  171.359467        0   Pathology7  KeyTreatment45062
KeyConsult45063   keyMedecin2  KeyPatient17519   Name17519    FistName17519  NS45064   34  58.652805    38.459865  107.910361        0  Pathology67  KeyTreatment45063
KeyConsult45064  keyMedecin21  KeyPatient28813   Name28813    FistName28813  NS45065   27  59.233520    37.535722  123.634315        0  Pathology56  KeyTreatment45064
KeyConsult45065  keyMedecin29  KeyPatient20313   Name20313    FistName20313  NS45066   16  59.965158    37.403517  114.139109        0  Pathology54  KeyTreatment45065

In [10]:
psdf_treatments = ps.read_csv('data_treatments.csv', index_col='KeyTreatment')
psdf_treatments.head(10)

                  KeyMedicament  QuantityMedicament
KeyTreatment
KeyTreatment20495     KeyMed513                   1
KeyTreatment20495     KeyMed852                   2
KeyTreatment20495     KeyMed265                   1
KeyTreatment20496      KeyMed82                   2
KeyTreatment20497      KeyMed67                   1
KeyTreatment20497      KeyMed21                   3
KeyTreatment20498     KeyMed697                   1
KeyTreatment20499       KeyMed2                   2
KeyTreatment20500      KeyMed47                   2
KeyTreatment20500     KeyMed581                   3

In [11]:
psdf_medicaments = ps.read_csv('data_medicaments.csv', index_col='KeyMedicament')
psdf_medicaments.head(10)

              NameMedicament
KeyMedicament
KeyMed913      Medicament913
KeyMed914      Medicament914
KeyMed915      Medicament915
KeyMed916      Medicament916
KeyMed917      Medicament917
KeyMed918      Medicament918
KeyMed919      Medicament919
KeyMed920      Medicament920
KeyMed921      Medicament921
KeyMed922      Medicament922

In [12]:
psdf_chambres = ps.read_csv('data_chambres.csv', index_col='KeyChambre')
psdf_chambres.head(10)

             ChambreNumber
KeyChambre
KeyChambre89          C089
KeyChambre90          C090
KeyChambre91          C091
KeyChambre92          C092
KeyChambre93          C093
KeyChambre94          C094
KeyChambre95          C095
KeyChambre96          C096
KeyChambre97          C097
KeyChambre98          C098

In [13]:
sdf_administration = psdf_administration.to_spark(index_col='KeyConsult')
sdf_medecins = psdf_medecins.to_spark(index_col='KeyMedecin')
sdf_diagnostics = psdf_diagnostics.to_spark(index_col='KeyConsult')
sdf_treatments = psdf_treatments.to_spark(index_col='KeyTreatment')
sdf_medicaments = psdf_medicaments.to_spark(index_col='KeyMedicament')
sdf_chambres = psdf_chambres.to_spark(index_col='KeyChambre')

In [14]:
from pyspark.sql.functions import *

## Partie 1 : Première Étoile

**Question 1.** Créer la `table de faits` associée aux `Consultations`.

In [15]:
sdf_FAITS_1 = sdf_diagnostics.select('KeyConsult','KeyMedecin','KeyPatient','KeyTreatment').alias('sdf_FAITS_1')
sdf_adm = sdf_administration.select('KeyConsult','KeyChambre').alias('sdf_adm')
sdf_FAITS_2 = sdf_FAITS_1.join(sdf_adm, sdf_FAITS_1.KeyConsult==sdf_adm.KeyConsult).select(sdf_FAITS_1["*"],sdf_adm["KeyChambre"])
sdf_FAITS_consults = sdf_FAITS_2.withColumn('KeyDate', sdf_FAITS_2.KeyConsult)
sdf_FAITS_consults.show(10)

+---------------+------------+---------------+-----------------+-------------+---------------+
|     KeyConsult|  KeyMedecin|     KeyPatient|     KeyTreatment|   KeyChambre|        KeyDate|
+---------------+------------+---------------+-----------------+-------------+---------------+
|KeyConsult45056|keyMedecin26|KeyPatient10546|KeyTreatment45056| KeyChambre81|KeyConsult45056|
|KeyConsult45057|keyMedecin22|KeyPatient45482|KeyTreatment45057|KeyChambre102|KeyConsult45057|
|KeyConsult45058|keyMedecin14|KeyPatient37050|KeyTreatment45058| KeyChambre22|KeyConsult45058|
|KeyConsult45059|keyMedecin29|KeyPatient39793|KeyTreatment45059|  KeyChambre4|KeyConsult45059|
|KeyConsult45060|keyMedecin18|KeyPatient17652|KeyTreatment45060| KeyChambre29|KeyConsult45060|
|KeyConsult45061|keyMedecin21|KeyPatient40034|KeyTreatment45061| KeyChambre60|KeyConsult45061|
|KeyConsult45062|keyMedecin18|KeyPatient38237|KeyTreatment45062|  KeyChambre5|KeyConsult45062|
|KeyConsult45063| keyMedecin2|KeyPatient17519|KeyTreatment45063| KeyChambre84|KeyConsult45063|
|KeyConsult45064|keyMedecin21|KeyPatient28813|KeyTreatment45064| KeyChambre51|KeyConsult45064|
|KeyConsult45065|keyMedecin29|KeyPatient20313|KeyTreatment45065| KeyChambre37|KeyConsult45065|
+---------------+------------+---------------+-----------------+-------------+---------------+
only showing top 10 rows

**Question 2.** Créer la `table de dimension` associée aux `Patients`.

In [16]:
sdf_dim_patients = sdf_diagnostics.select('KeyPatient','KeyConsult','NamePatient','FirstNamePatient','NumSecu','Age','Weight','Temperature','Tension','Diabete','Pathology').alias('sdf_dim_patients')
sdf_dim_patients.show(10)

+---------------+---------------+-----------+----------------+-------+---+------------------+------------------+------------------+-------+-----------+
|     KeyPatient|     KeyConsult|NamePatient|FirstNamePatient|NumSecu|Age|            Weight|       Temperature|           Tension|Diabete|  Pathology|
+---------------+---------------+-----------+----------------+-------+---+------------------+------------------+------------------+-------+-----------+
|KeyPatient10546|KeyConsult45056|  Name10546|   FistName10546|NS45057| 24| 58.75952185728825| 37.45989878643732| 135.7007525481543|      0|Pathology22|
|KeyPatient45482|KeyConsult45057|  Name45482|   FistName45482|NS45058| 19| 58.42251330648344| 37.48826750167022| 95.79092452672673|      0|Pathology34|
|KeyPatient37050|KeyConsult45058|  Name37050|   FistName37050|NS45059| 50|  80.1257478193804| 38.02395668303052| 89.17381944535508|      1|Pathology84|
|KeyPatient39793|KeyConsult45059|  Name39793|   FistName39793|NS45060| 76|  69.3065564517231| 39.96669187576233|116.60692780964129|      0|Pathology78|
|KeyPatient17652|KeyConsult45060|  Name17652|   FistName17652|NS45061| 22|56.173337592329766| 37.46355419422656|   161.95599532989|      0|Pathology15|
|KeyPatient40034|KeyConsult45061|  Name40034|   FistName40034|NS45062| 16|55.421938193988126|  37.5540359392258| 153.4189854598361|      0| Pathology7|
|KeyPatient38237|KeyConsult45062|  Name38237|   FistName38237|NS45063| 22| 63.06783527683545| 37.21336068162085| 171.3594672438247|      0| Pathology7|
|KeyPatient17519|KeyConsult45063|  Name17519|   FistName17519|NS45064| 34|58.652805206924796| 38.45986517541939| 107.9103613504679|      0|Pathology67|
|KeyPatient28813|KeyConsult45064|  Name28813|   FistName28813|NS45065| 27| 59.23351979317314|37.535722443670295|123.63431512596179|      0|Pathology56|
|KeyPatient20313|KeyConsult45065|  Name20313|   FistName20313|NS45066| 16|59.965157886089045|37.403516808977436|114.13910943985506|      0|Pathology54|
+---------------+---------------+-----------+----------------+-------+---+------------------+------------------+------------------+-------+-----------+
only showing top 10 rows

**Question 2.** Créer la `table de dimension` associée aux `Medecins`.

In [17]:
sdf_dim_medecins = sdf_medecins.alias('sdf_dim_medecins')
sdf_dim_medecins.show(10)

+------------+-------------+------------------+-----------------+
|  KeyMedecin|  NameMedecin|  FirstNameMedecin|SpecialityMedecin|
+------------+-------------+------------------+-----------------+
|keyMedecin26|NameMedecin26|FirstNameMedecin26|      Generaliste|
|keyMedecin27|NameMedecin27|FirstNameMedecin27|       Chirurgien|
|keyMedecin28|NameMedecin28|FirstNameMedecin28|   Dermatologiste|
|keyMedecin29|NameMedecin29|FirstNameMedecin29|      Generaliste|
|keyMedecin16|NameMedecin16|FirstNameMedecin16|       Chirurgien|
|keyMedecin17|NameMedecin17|FirstNameMedecin17|       Chirurgien|
|keyMedecin18|NameMedecin18|FirstNameMedecin18|       Chirurgien|
|keyMedecin19|NameMedecin19|FirstNameMedecin19|      Generaliste|
| keyMedecin6| NameMedecin6| FirstNameMedecin6|   Dermatologiste|
| keyMedecin7| NameMedecin7| FirstNameMedecin7|       Chirurgien|
+------------+-------------+------------------+-----------------+
only showing top 10 rows

**Question 3.** Créer la `table de dimension` associée aux `Traitements`.

In [18]:
sdf_dim_traitement1 = sdf_treatments.alias('sdf_dim_traitements')
sdf_dim_traitement2 = sdf_dim_traitement1.join(sdf_medicaments, sdf_dim_traitement1.KeyMedicament==sdf_medicaments.KeyMedicament).select(sdf_dim_traitement1["*"],sdf_medicaments["NameMedicament"])
sdf_dim_traitements = sdf_dim_traitement2.join(sdf_diagnostics, sdf_dim_traitement2.KeyTreatment==sdf_diagnostics.KeyTreatment).select(sdf_dim_traitement2["*"],sdf_diagnostics["KeyConsult"])
sdf_dim_traitements.show(10)

+-----------------+-------------+------------------+--------------+---------------+
|     KeyTreatment|KeyMedicament|QuantityMedicament|NameMedicament|     KeyConsult|
+-----------------+-------------+------------------+--------------+---------------+
|KeyTreatment20495|    KeyMed513|                 1| Medicament513|KeyConsult20495|
|KeyTreatment20495|    KeyMed852|                 2| Medicament852|KeyConsult20495|
|KeyTreatment20495|    KeyMed265|                 1| Medicament265|KeyConsult20495|
|KeyTreatment20496|     KeyMed82|                 2|  Medicament82|KeyConsult20496|
|KeyTreatment20497|     KeyMed67|                 1|  Medicament67|KeyConsult20497|
|KeyTreatment20497|     KeyMed21|                 3|  Medicament21|KeyConsult20497|
|KeyTreatment20498|    KeyMed697|                 1| Medicament697|KeyConsult20498|
|KeyTreatment20499|      KeyMed2|                 2|   Medicament2|KeyConsult20499|
|KeyTreatment20500|     KeyMed47|                 2|  Medicament47|KeyConsult20500|
|KeyTreatment20500|    KeyMed581|                 3| Medicament581|KeyConsult20500|
+-----------------+-------------+------------------+--------------+---------------+
only showing top 10 rows

**Question 4.** Créer la `table de dimension` associée aux `Chambres`.

In [19]:
sdf_dim_chambres = sdf_administration.select('KeyChambre','ChambreNumber').alias('sdf_dim_chambres')
sdf_dim_chambres.show(10)

+-------------+-------------+
|   KeyChambre|ChambreNumber|
+-------------+-------------+
| KeyChambre81|         C081|
|KeyChambre102|         C102|
| KeyChambre22|         C022|
|  KeyChambre4|         C004|
| KeyChambre29|         C029|
| KeyChambre60|         C060|
|  KeyChambre5|         C005|
| KeyChambre84|         C084|
| KeyChambre51|         C051|
| KeyChambre37|         C037|
+-------------+-------------+
only showing top 10 rows

**Question 5.** Créer la `table de dimension` associée aux `Dates`.

In [20]:
sdf_dim_date1 = sdf_FAITS_consults.select('KeyDate').alias('sdf_dim_date1')
sdf_adm = sdf_administration.select('KeyConsult','Date_In','Date_Out').alias('sdf_adm')
sdf_dim_dates = sdf_dim_date1.alias('sdf_dim_date1').join(sdf_adm.alias('sdf_adm'), sdf_dim_date1.KeyDate==sdf_adm.KeyConsult)
sdf_dim_dates.show(10)

+---------------+---------------+-------------------+-------------------+
|        KeyDate|     KeyConsult|            Date_In|           Date_Out|
+---------------+---------------+-------------------+-------------------+
|KeyConsult45056|KeyConsult45056|2023-11-25 00:00:00|2023-11-26 00:00:00|
|KeyConsult45057|KeyConsult45057|2023-11-25 00:00:00|2023-11-26 00:00:00|
|KeyConsult45058|KeyConsult45058|2023-11-25 00:00:00|2023-12-05 00:00:00|
|KeyConsult45059|KeyConsult45059|2023-11-25 00:00:00|2023-12-01 00:00:00|
|KeyConsult45060|KeyConsult45060|2023-11-25 00:00:00|2023-11-26 00:00:00|
|KeyConsult45061|KeyConsult45061|2023-11-25 00:00:00|2023-11-26 00:00:00|
|KeyConsult45062|KeyConsult45062|2023-11-25 00:00:00|2023-11-27 00:00:00|
|KeyConsult45063|KeyConsult45063|2023-11-25 00:00:00|2023-12-03 00:00:00|
|KeyConsult45064|KeyConsult45064|2023-11-25 00:00:00|2023-11-26 00:00:00|
|KeyConsult45065|KeyConsult45065|2023-11-25 00:00:00|2023-11-26 00:00:00|
+---------------+---------------+-------------------+-------------------+
only showing top 10 rows

**Question 6.** Quels a été l'âge moyen des patients qui ont eu la `Pathology75` durant le mois de mars 2023 ?

In [107]:
Patient_Pathology75 = sdf_dim_patients.filter(col("Pathology")=="Pathology75").select(col("KeyConsult"))
DatesMarch = sdf_dim_dates.filter(year("Date_in")==2023).filter(month("Date_in")==3).select(col("KeyConsult"))
# PatientsObjectif75 = DatesMarch.intersectAll(Patient_Pathology75)
PatientsObjectif75 = DatesMarch.alias("s1").join(Patient_Pathology75.alias("s2"),'KeyConsult').select(DatesMarch["KeyConsult"])
sdf_dim_patients.alias("t1").join(PatientsObjectif75.alias("t2"),'KeyConsult').select(sdf_dim_patients["*"]).select(avg(col("Age"))).show()

+-----------------+
|         avg(Age)|
+-----------------+
|70.30434782608695|
+-----------------+

In [94]:
#sdf_dim_patients.join(PatientsObjectif,['KeyConsult']).select(col("KeyConsult")).show(10)
#sdf_dim_patients.select(col("KeyConsult")).intersectAll(PatientsObjectif).show(10)

**Question 7.** Quels a été l'âge moyen des patients qui ont eu la `Pathology15` durant le mois de mars 2023 ?

In [108]:
Patient_Pathology15 = sdf_dim_patients.filter(col("Pathology")=="Pathology15").select(col("KeyConsult"))
DatesMarch = sdf_dim_dates.filter(year("Date_in")==2023).filter(month("Date_in")==3).select(col("KeyConsult"))
PatientsObjectif15 = DatesMarch.alias("s1").join(Patient_Pathology15.alias("s2"),'KeyConsult').select(DatesMarch["KeyConsult"])
sdf_dim_patients.alias("t1").join(PatientsObjectif15.alias("t2"),'KeyConsult').select(sdf_dim_patients["*"]).select(avg(col("Age"))).show()

+-----------------+
|         avg(Age)|
+-----------------+
|19.48780487804878|
+-----------------+

**Question 8.** Quel Médicament a été le plus prescrit (en terme de quantité) pour la `Pathology15` durant le mois de mars 2023 ?

In [114]:
TraitementObjectif15 = sdf_dim_traitements.alias("T1").join(Patient_Pathology15.alias("T2"),'KeyConsult')
TraitementObjectif15.groupBy(["KeyMedicament"]).sum("QuantityMedicament").select([max(col("sum(QuantityMedicament)"))]).show()

+----------------------------+
|max(sum(QuantityMedicament))|
+----------------------------+
|                          14|
+----------------------------+

## Partie 2 : Constellation

**Question 2.** Créer la `table de faits` associée aux `stock de medicaments`.

In [62]:
df = spark.createDataFrame([(2, "Alice"), (5, "Bob")]).toDF("age", "name")
df2 = spark.createDataFrame([Row(height=80, name="Tom"), Row(height=85, name="Bob")])
df3 = spark.createDataFrame([Row(age=2, name="Alice"), Row(age=5, name="Bob")])
df4 = spark.createDataFrame([
    Row(age=10, height=80, name="Alice"),
    Row(age=5, height=None, name="Bob"),
    Row(age=None, height=None, name="Tom"),
    Row(age=None, height=None, name=None),
])

In [63]:
df.show()

+---+-----+
|age| name|
+---+-----+
|  2|Alice|
|  5|  Bob|
+---+-----+

In [65]:
df2.show()

+------+----+
|height|name|
+------+----+
|    80| Tom|
|    85| Bob|
+------+----+

In [66]:
df3.show()

+---+-----+
|age| name|
+---+-----+
|  2|Alice|
|  5|  Bob|
+---+-----+

In [67]:
df4.show()

+----+------+-----+
| age|height| name|
+----+------+-----+
|  10|    80|Alice|
|   5|  NULL|  Bob|
|NULL|  NULL|  Tom|
|NULL|  NULL| NULL|
+----+------+-----+

In [68]:
df.join(df2, 'name').show()

+----+---+------+
|name|age|height|
+----+---+------+
| Bob|  5|    85|
+----+---+------+