# NF26/AI07 - TD1 : Initiation à PySpark

## Introduction à PySpark

L'objectif de ce TD est de s'initier à PySpark sur une base de données simulées. 
Pour cela nous nous appuyerons sur le lien ci-dessous :
- https://spark.apache.org/docs/latest/api/python/index.html

**Introduction.** Durant les 15 premières minutes de ce TD, rechercher sur le site ci-dessus ou sur tout autre site des informations pour comprendre qu'est-ce que PySpark, quel est son lien avec Spark, quels sont ses avantages et pourquoi il est apprécié dans la communauté.

**Installation de PySpark.** Compiler la commande ci-dessous pour installer PySpark.

In [1]:
#pip install pyspark

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, date

import os
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"

import pyspark.pandas as ps
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [14]:
spark = SparkSession.builder.getOrCreate()

## Information concernant la base de données `foo.csv`

La base de données `foo.csv` est une base de données simulées et contient des informations générales concernant les patients qui sont arrivés dans un hopital durant l'année 2023.

La commande ci-dessous permet de lire la base de données `foo.csv`:

In [15]:
psdf = ps.read_csv('foo.csv')
psdf.head(10)

/Users/giletcyp/anaconda3/lib/python3.11/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

       KeyConsult       KeyPatient       Name      FirstName    Date_In    Pathology   Date_Out
0  KeyConsult9163   KeyPatient5557   Name5557   FistName5557 2023-11-30  Pathology89 2023-12-11
1  KeyConsult9164   KeyPatient2469   Name2469   FistName2469 2023-11-30  Pathology28 2023-11-30
2  KeyConsult9165  KeyPatient20346  Name20346  FistName20346 2023-11-30  Pathology36 2023-11-30
3  KeyConsult9166  KeyPatient43536  Name43536  FistName43536 2023-11-30  Pathology49 2023-12-01
4  KeyConsult9167    KeyPatient346    Name346    FistName346 2023-11-30  Pathology39 2023-11-30
5  KeyConsult9168  KeyPatient48522  Name48522  FistName48522 2023-11-30  Pathology18 2023-12-01
6  KeyConsult9169  KeyPatient33615  Name33615  FistName33615 2023-11-30  Pathology30 2023-12-01
7  KeyConsult9170  KeyPatient16913  Name16913  FistName16913 2023-11-30  Pathology53 2023-12-01
8  KeyConsult9171  KeyPatient30785  Name30785  FistName30785 2023-11-30   Pathology7 2023-12-02
9  KeyConsult9172   KeyPatient9418   Name9418   FistName9418 2023-11-30  Pathology50 2023-11-30

In [5]:
psdf.dtypes

KeyConsult            object
KeyPatient            object
Name                  object
FirstName             object
Date_In       datetime64[ns]
Pathology             object
Date_Out      datetime64[ns]
dtype: object

## Exercices :

**Question 1.** Proposer un code permettant de visualiser les données triées par date d'entrée dans l'hôpital. On pourra afficher seulement les 20 premières dates.

In [6]:
# Réponse :

**Question 2.** Proposer un code permettant de visualiser le nombre d'entrées quotidiennes dans l'hôpital durant l'année 2023.

In [7]:
# Réponse :

**Question 3.** Quel a été le nombre maximal et minimal d'entrées quotidiennes dans l'hôpital durant l'année 2023 ?

In [8]:
# Réponse :

**Question 4.** Proposer un code permettant de visualiser si certains patients sont venus plusieurs fois dans l'hôpital durant l'année 2023 (et si oui combien de fois).

In [9]:
# Réponse :

**Question 5.** Quel a été le nombre maximal et minimal d'entrées par patient dans l'hôpital durant l'année 2023 ?

In [10]:
# Réponse :

**Question 6.** Proposer un code permettant de visualiser quels patients ont été diagnostiqués de la `Pathology15` durant l'année 2023.

In [11]:
# Réponse :

**Question 7.** Proposer un code permettant de visualiser quels ont été les 10 premiers patients à être diagnostiqués de la `Pathology15` durant l'année 2023.

In [12]:
# Réponse :

**Question 8.** Proposer un code permettant de visualiser s'il existe des patients qui ont été diagnostiqués plusieurs fois de la `Pathology17` durant l'année 2023 (et si oui combien de fois au maximum).

In [13]:
# Réponse :