# GÃ©nration Data Cours NF26

**Auteur :** Cyprien Gilet

In [1]:
#pip install pyspark

In [2]:
import os
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, date

import pyspark.pandas as ps
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [4]:
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/18 10:42:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/18 10:42:25 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/03/18 10:42:25 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [5]:
np.mean(np.array([10,5,np.nan]))

nan

In [6]:
np.random.binomial(1, 0.005, 1)[0]

0

In [7]:
np.random.seed(10)

## Object Creation

In [8]:
from datetime import timedelta
from dateutil import parser

def generation_data_patients(n): 

    # Table Administration
    key_consultation = [] #OK
    key_patient = [] #OK
    name_patients = [] #OK
    firstname_patients = [] #OK
    Num_Secu = [] # OK
    dates_In = [] #OK
    pathology = [] #OK
    dates_Out = [] #OK
    
    # Table Medecin
    nbMedecin = 30 #OK
    key_medecin = [] #OK
    name_medecin = [] #OK
    firstname_medecin = [] #OK
    speciality = ['Generaliste','Chirurgien','Dermatologiste','Dentiste','Cardiologue'] #OK
    specialyty_Medecin = [] #OK
    for l in range(nbMedecin): 
        key_medecin.append('keyMedecin' + str(l)) #OK
        name_medecin.append('NameMedecin' + str(l)) #OK
        firstname_medecin.append('FirstNameMedecin' + str(l)) #OK
        idxSpecility = np.random.poisson(lam=1, size=1)[0] #OK
        if idxSpecility > 4:
            idxSpecility = 4 #OK
        specialyty_Medecin.append(speciality[idxSpecility]) #OK
    MedecinConsult = [] #OK
    
    # Patient Profile
    age = [] #OK
    age_NA_outlier = [] #OK
    weight = [] #OK
    temperature = [] #OK
    tension = [] #OK
    diabete = [] #OK
    
    # Table Treatment
    key_treatment_Patient = [] #OK
    key_treatment = [] #OK
    treatment = [] #OK
    key_medicament = [] #OK
    name_medicament = [] #OK
    quantity_medicament = [] #OK
    for t in range(1000):
        key_medicament.append('KeyMed' + str(t))
        name_medicament.append('Medicament' + str(t))
    
    # Table Chambre
    key_chambre = [] #OK
    chambre_number = [] #OK
    numberChambre = 104
    for c in range(numberChambre):
        key_chambre.append('KeyChambre' + str(c+1))
        chambre_number.append('C' + str(f'{c+1:03}'))
    chambre_Number_Patient = [] #OK
    key_chambre_Patient = [] #OK
    
    
    
    year = 2023
    str_year = str(year)
    all_dates_in = np.sort(np.random.randint(1, 365, n))
    
    all_idx_Patients = np.random.choice(2*n, n, replace=False)
    
    for i in range(n):
        
        # key Consultation :
        key_consultation.append('KeyConsult' + str(i))
        
        # key Patient :
        idx_patient = str(all_idx_Patients[i])
        key_patient.append('KeyPatient' + idx_patient)
        
        # Num Secu :
        SecuOK = np.random.binomial(1, 0.99, 1)[0]
        if SecuOK == 1:
            Num_Secu.append('NS' + str(f'{i+1:05}'))
        if SecuOK == 0:
            Num_Secu.append('NULL')
    
        # Name :
        name_patients.append('Name' + idx_patient)

        # First Name :
        firstname_patients.append('FistName' + idx_patient)
    
        # Pathology :
        idx_pathology = np.random.randint(1, 100, 1)[0]
        pathology.append('Pathology' + str(idx_pathology))
        
        # Medecin :
        MedecinConsult.append(key_medecin[np.random.randint(1, nbMedecin, 1)[0]])
        
        # initializing year and day number
        day_num_In = all_dates_in[i]
        
        if idx_pathology <= 60 :
            lmbda = 1.0
            # Age :
            real_age = np.random.poisson(lam=20, size=1)[0]
            age.append(real_age)
            age_default = np.random.binomial(1, 0.005, 1)[0]
            age_default_nan = np.random.binomial(1, 0.9, 1)[0]
            if age_default==0:
                age_NA_outlier.append(real_age)
            if age_default == 1:
                if age_default_nan==1:
                    age_NA_outlier.append(np.Inf)
                if age_default_nan==0:
                    age_NA_outlier.append(50*real_age)
            # Weight :
            weight.append(np.random.normal(60, 3, 1)[0])
            # Temperature :
            temperature.append(np.random.normal(37.5, 0.1, 1)[0])
            # Tension :
            tension.append(np.random.normal(116, 20, 1)[0])
            # Diabete :
            diabete.append(np.random.binomial(1, 0.1, 1)[0])
            # Treatment :
            nbMed = np.random.randint(1, 4, 1)[0]
            idxMed = np.random.randint(1, 1000, nbMed)
            for m in range(nbMed):
                key_treatment.append('KeyTreatment' + str(i))
                treatment.append(key_medicament[idxMed[m]])
                quantity_medicament.append(np.random.randint(1, 4, 1)[0])
        if idx_pathology > 60 and idx_pathology <= 70 :
            lmbda = 3.0
            # Age :
            real_age = np.random.poisson(lam=40, size=1)[0]
            age.append(real_age)
            age_default = np.random.binomial(1, 0.005, 1)[0]
            age_default_nan = np.random.binomial(1, 0.9, 1)[0]
            if age_default == 1:
                if age_default_nan==1:
                    age_NA_outlier.append(np.Inf)
                if age_default_nan==0:
                    age_NA_outlier.append(50*real_age)
            if age_default==0:
                age_NA_outlier.append(real_age)
            # Weight :
            weight.append(np.random.normal(75, 7, 1)[0])
            # Temperature :
            temperature.append(np.random.normal(38.5, 0.1, 1)[0])
            # Tension :
            tension.append(np.random.normal(110, 5, 1)[0])
            # Diabete :
            diabete.append(np.random.binomial(1, 0.1, 1)[0])
            # Treatment :
            nbMed = np.random.randint(1, 4, 1)[0]
            idxMed = np.random.randint(1, 5, nbMed)
            for m in range(nbMed):
                key_treatment.append('KeyTreatment' + str(i))
                treatment.append(key_medicament[idxMed[m]])
                quantity_medicament.append(np.random.randint(1, 4, 1)[0])
        if idx_pathology > 70 and idx_pathology <= 80 :
            lmbda = 6.0
            # Age :
            real_age = np.random.poisson(lam=70, size=1)[0]
            age.append(real_age)
            age_default = np.random.binomial(1, 0.01, 1)[0]
            age_default_nan = np.random.binomial(1, 0.5, 1)[0]
            if age_default == 1:
                if age_default_nan==1:
                    age_NA_outlier.append(np.Inf)
                if age_default_nan==0:
                    age_NA_outlier.append(50*real_age)
            if age_default==0:
                age_NA_outlier.append(real_age)
            # Weight :
            weight.append(np.random.normal(70, 4, 1)[0])
            # Temperature :
            temperature.append(np.random.normal(40, 0.1, 1)[0])
            # Tension :
            tension.append(np.random.normal(120, 5, 1)[0])
            # Diabete :
            diabete.append(np.random.binomial(1, 0.2, 1)[0])
            # Treatment :
            nbMed = np.random.randint(1, 4, 1)[0]
            idxMed = np.random.randint(1, 5, nbMed)
            for m in range(nbMed):
                key_treatment.append('KeyTreatment' + str(i))
                treatment.append(key_medicament[idxMed[m]])
                quantity_medicament.append(np.random.randint(1, 4, 1)[0])
        if idx_pathology > 80 and idx_pathology <= 90 :
            lmbda = 10.0
            # Age :
            real_age = np.random.poisson(lam=50, size=1)[0]
            age.append(real_age)
            age_default = np.random.binomial(1, 0.005, 1)[0]
            age_default_nan = np.random.binomial(1, 0.9, 1)[0]
            if age_default == 1:
                if age_default_nan==1:
                    age_NA_outlier.append(np.Inf)
                if age_default_nan==0:
                    age_NA_outlier.append(50*real_age)
            if age_default==0:
                age_NA_outlier.append(real_age)
            # Weight :
            weight.append(np.random.normal(80, 3, 1)[0])
            # Temperature :
            temperature.append(np.random.normal(38, 0.1, 1)[0])
            # Tension :
            tension.append(np.random.normal(90, 2, 1)[0])
            # Diabete :
            diabete.append(np.random.binomial(1, 0.7, 1)[0])
            # Treatment :
            nbMed = np.random.randint(1, 4, 1)[0]
            idxMed = np.random.randint(1, 90, nbMed)
            for m in range(nbMed):
                key_treatment.append('KeyTreatment' + str(i))
                treatment.append(key_medicament[idxMed[m]])
                quantity_medicament.append(np.random.randint(1, 4, 1)[0])
        if idx_pathology > 90 and idx_pathology <= 100 :
            lmbda = 18.0
            # Age :
            real_age = np.random.poisson(lam=40, size=1)[0]
            age.append(real_age)
            age_default = np.random.binomial(1, 0.05, 1)[0]
            age_default_nan = np.random.binomial(1, 0.5, 1)[0]
            if age_default == 1:
                if age_default_nan==1:
                    age_NA_outlier.append(np.Inf)
                if age_default_nan==0:
                    age_NA_outlier.append(50*real_age)
            if age_default==0:
                age_NA_outlier.append(real_age)
            # Weight :
            weight.append(np.random.normal(75, 4, 1)[0])
            # Temperature :
            temperature.append(np.random.normal(40.5, 0.1, 1)[0])
            # Tension :
            tension.append(np.random.normal(80, 2, 1)[0])
            # Diabete :
            diabete.append(np.random.binomial(1, 0.2, 1)[0])
            # Treatment :
            nbMed = np.random.randint(1, 4, 1)[0]
            idxMed = np.random.randint(1, 1000, nbMed)
            for m in range(nbMed):
                key_treatment.append('KeyTreatment' + str(i))
                treatment.append(key_medicament[idxMed[m]])
                quantity_medicament.append(np.random.randint(1, 4, 1)[0])
                
        
        #print(age_NA_outlier)
        
        key_treatment_Patient.append('KeyTreatment' + str(i))
            
        number_days_stay = np.random.poisson(lam=lmbda, size=1)[0]
        day_num_Out = day_num_In + number_days_stay
            

        # creating date string
        date_str = str_year + "-01-01"  # January 1st of the given year
        date_obj = parser.parse(date_str)  # parse date string to datetime object

        # adding days to datetime object for date_In
        date_res_In = date_obj + timedelta(days=int(day_num_In) - 1)
        dates_In.append(date_res_In)
        
        # adding days to datetime object for date_Out
        date_res_out = date_obj + timedelta(days=int(day_num_Out) - 1)
        dates_Out.append(date_res_out)


        # Chambre ?
        if number_days_stay > 0:
            idxChambre = np.random.randint(numberChambre, size=1)[0]
            key_chambre_Patient.append(key_chambre[idxChambre])
            chambre_Number_Patient.append(chambre_number[idxChambre])
        if number_days_stay == 0:
            key_chambre_Patient.append('NULL')
            chambre_Number_Patient.append('NULL')
        
        
        
        
    # Table Administration
    pandas_administration_df = pd.DataFrame(
        {'KeyConsult': key_consultation,
         'KeyPatient': key_patient,
         'Name': name_patients,
         'FirstName': firstname_patients,
         'NumSecu': Num_Secu,
         'Date_In': dates_In,
         'Pathology': pathology,
         'KeyChambre': key_chambre_Patient,
         'ChambreNumber': chambre_Number_Patient,
         'Date_Out': dates_Out
        }
    )


    # Table Medecin
    pandas_medecin_df = pd.DataFrame(
        {'KeyMedecin': key_medecin,
         'NameMedecin': name_medecin,
         'FirstNameMedecin': firstname_medecin,
         'SpecialityMedecin': specialyty_Medecin
        }
    )


    # Table Diagnostic
    pandas_diagnostic_df = pd.DataFrame(
        {'KeyConsult': key_consultation,
         'KeyMedecin': MedecinConsult,
         'KeyPatient': key_patient,
         'NamePatient': name_patients,
         'FirstNamePatient': firstname_patients,
         'NumSecu': Num_Secu,
         'Age': age,
         'Weight': weight,
         'Temperature': temperature,
         'Tension': tension,
         'Diabete': diabete,
         'Pathology': pathology,
         'KeyTreatment': key_treatment_Patient
        }
    )
    
    
    
    # Table Diagnostic NAN
    pandas_diagnostic_df_nan = pd.DataFrame(
        {'KeyConsult': key_consultation,
         'KeyMedecin': MedecinConsult,
         'KeyPatient': key_patient,
         'NamePatient': name_patients,
         'FirstNamePatient': firstname_patients,
         'NumSecu': Num_Secu,
         'Age': age_NA_outlier,
         'Weight': weight,
         'Temperature': temperature,
         'Tension': tension,
         'Diabete': diabete,
         'Pathology': pathology,
         'KeyTreatment': key_treatment_Patient
        }
    )


    # Table Treatment
    pandas_treatment_df = pd.DataFrame(
        {'KeyTreatment': key_treatment,
         'KeyMedicament': treatment,
         'QuantityMedicament': quantity_medicament
        }
    )
    
    
    # Table Medicaments
    pandas_medicament_df = pd.DataFrame(
        {'KeyMedicament': key_medicament,
         'NameMedicament': name_medicament
        }
    )


    # Table Chambre
    pandas_chambre_df = pd.DataFrame(
        {'KeyChambre': key_chambre,
         'ChambreNumber': chambre_number
        }
    )

        
        
        
    return pandas_administration_df, pandas_medecin_df, pandas_diagnostic_df, pandas_diagnostic_df_nan, pandas_treatment_df, pandas_medicament_df, pandas_chambre_df

In [9]:
pandas_administration_df, pandas_medecin_df, pandas_diagnostic_df, pandas_diagnostic_df_nan, pandas_treatment_df, pandas_medicament_df, pandas_chambre_df = generation_data_patients(50000)

In [10]:
#pandas_administration_df, pandas_medecin_df, pandas_diagnostic_df, pandas_diagnostic_df_nan, pandas_treatment_df, pandas_medicament_df, pandas_chambre_df = generation_data_patients(50)
#np.array([pandas_diagnostic_df_nan['Age'], np.isnan(pandas_diagnostic_df_nan['Age'])])
#np.max(pandas_diagnostic_df_nan['Age'])

In [11]:
pandas_administration_df.head(20)

,KeyConsult,KeyPatient,Name,FirstName,NumSecu,Date_In,Pathology,KeyChambre,ChambreNumber,Date_Out
0,KeyConsult0,KeyPatient56980,Name56980,FistName56980,NS00001,2023-01-01,Pathology49,NULL,NULL,2023-01-01
1,KeyConsult1,KeyPatient93099,Name93099,FistName93099,NS00002,2023-01-01,Pathology62,KeyChambre101,C101,2023-01-03
2,KeyConsult2,KeyPatient89575,Name89575,FistName89575,NS00003,2023-01-01,Pathology10,KeyChambre103,C103,2023-01-02
3,KeyConsult3,KeyPatient43225,Name43225,FistName43225,NS00004,2023-01-01,Pathology44,KeyChambre10,C010,2023-01-03
4,KeyConsult4,KeyPatient67704,Name67704,FistName67704,NS00005,2023-01-01,Pathology89,KeyChambre83,C083,2023-01-15
5,KeyConsult5,KeyPatient5825,Name5825,FistName5825,NS00006,2023-01-01,Pathology18,NULL,NULL,2023-01-01
6,KeyConsult6,KeyPatient57600,Name57600,FistName57600,NS00007,2023-01-01,Pathology25,KeyChambre41,C041,2023-01-02
7,KeyConsult7,KeyPatient53634,Name53634,FistName53634,NS00008,2023-01-01,Pathology83,KeyChambre85,C085,2023-01-08
8,KeyConsult8,KeyPatient99139,Name99139,FistName99139,NS00009,2023-01-01,Pathology65,KeyChambre1,C001,2023-01-08
9,KeyConsult9,KeyPatient21881,Name21881,FistName21881,NS00010,2023-01-01,Pathology78,KeyChambre60,C060,2023-01-06
10,KeyConsult10,KeyPatient80996,Name80996,FistName80996,NS00011,2023-01-01,Pathology41,KeyChambre90,C090,2023-01-02
11,KeyConsult11,KeyPatient49531,Name49531,FistName49531,NS00012,2023-01-01,Pathology18,NULL,NULL,2023-01-01
12,KeyConsult12,KeyPatient52901,Name52901,FistName52901,NS00013,2023-01-01,Pathology48,KeyChambre72,C072,2023-01-02
13,KeyConsult13,KeyPatient9835,Name9835,FistName9835,NS00014,2023-01-01,Pathology40,KeyChambre3,C003,2023-01-02
14,KeyConsult14,KeyPatient81589,Name81589,FistName81589,NS00015,2023-01-01,Pathology46,NULL,NULL,2023-01-01
15,KeyConsult15,KeyPatient18594,Name18594,FistName18594,NS00016,2023-01-01,Pathology13,KeyChambre79,C079,2023-01-02
16,KeyConsult16,KeyPatient55078,Name55078,FistName55078,NS00017,2023-01-01,Pathology37,KeyChambre36,C036,2023-01-02
17,KeyConsult17,KeyPatient92598,Name92598,FistName92598,NS00018,2023-01-01,Pathology81,KeyChambre73,C073,2023-01-12
18,KeyConsult18,KeyPatient30697,Name30697,FistName30697,NS00019,2023-01-01,Pathology1,KeyChambre16,C016,2023-01-02
19,KeyConsult19,KeyPatient39540,Name39540,FistName39540,NS00020,2023-01-01,Pathology68,KeyChambre82,C082,2023-01-04

In [12]:
pandas_medecin_df.head(10)

    KeyMedecin   NameMedecin   FirstNameMedecin SpecialityMedecin
0  keyMedecin0  NameMedecin0  FirstNameMedecin0        Chirurgien
1  keyMedecin1  NameMedecin1  FirstNameMedecin1    Dermatologiste
2  keyMedecin2  NameMedecin2  FirstNameMedecin2       Generaliste
3  keyMedecin3  NameMedecin3  FirstNameMedecin3       Generaliste
4  keyMedecin4  NameMedecin4  FirstNameMedecin4        Chirurgien
5  keyMedecin5  NameMedecin5  FirstNameMedecin5       Generaliste
6  keyMedecin6  NameMedecin6  FirstNameMedecin6    Dermatologiste
7  keyMedecin7  NameMedecin7  FirstNameMedecin7    Dermatologiste
8  keyMedecin8  NameMedecin8  FirstNameMedecin8        Chirurgien
9  keyMedecin9  NameMedecin9  FirstNameMedecin9    Dermatologiste

In [13]:
pandas_diagnostic_df.head(10)

,KeyConsult,KeyMedecin,KeyPatient,NamePatient,FirstNamePatient,NumSecu,Age,Weight,Temperature,Tension,Diabete,Pathology,KeyTreatment
0,KeyConsult0,keyMedecin21,KeyPatient56980,Name56980,FistName56980,NS00001,17,58.788953,37.333999,107.703208,0,Pathology49,KeyTreatment0
1,KeyConsult1,keyMedecin13,KeyPatient93099,Name93099,FistName93099,NS00002,52,70.062046,38.607045,111.386107,0,Pathology62,KeyTreatment1
2,KeyConsult2,keyMedecin26,KeyPatient89575,Name89575,FistName89575,NS00003,29,62.561711,37.440294,92.495716,0,Pathology10,KeyTreatment2
3,KeyConsult3,keyMedecin15,KeyPatient43225,Name43225,FistName43225,NS00004,21,57.548695,37.621753,143.299552,0,Pathology44,KeyTreatment3
4,KeyConsult4,keyMedecin24,KeyPatient67704,Name67704,FistName67704,NS00005,62,82.950918,38.042512,88.830120,0,Pathology89,KeyTreatment4
5,KeyConsult5,keyMedecin23,KeyPatient5825,Name5825,FistName5825,NS00006,23,56.583576,37.492039,126.681199,0,Pathology18,KeyTreatment5
6,KeyConsult6,keyMedecin4,KeyPatient57600,Name57600,FistName57600,NS00007,29,55.793379,37.565603,129.503674,0,Pathology25,KeyTreatment6
7,KeyConsult7,keyMedecin29,KeyPatient53634,Name53634,FistName53634,NS00008,59,81.356842,38.084205,90.113505,1,Pathology83,KeyTreatment7
8,KeyConsult8,keyMedecin4,KeyPatient99139,Name99139,FistName99139,NS00009,39,78.169014,38.510829,107.707158,0,Pathology65,KeyTreatment8
9,KeyConsult9,keyMedecin14,KeyPatient21881,Name21881,FistName21881,NS00010,74,68.123826,40.071490,121.292904,0,Pathology78,KeyTreatment9

In [14]:
pandas_diagnostic_df_nan.head(10)

,KeyConsult,KeyMedecin,KeyPatient,NamePatient,FirstNamePatient,NumSecu,Age,Weight,Temperature,Tension,Diabete,Pathology,KeyTreatment
0,KeyConsult0,keyMedecin21,KeyPatient56980,Name56980,FistName56980,NS00001,17.0,58.788953,37.333999,107.703208,0,Pathology49,KeyTreatment0
1,KeyConsult1,keyMedecin13,KeyPatient93099,Name93099,FistName93099,NS00002,52.0,70.062046,38.607045,111.386107,0,Pathology62,KeyTreatment1
2,KeyConsult2,keyMedecin26,KeyPatient89575,Name89575,FistName89575,NS00003,29.0,62.561711,37.440294,92.495716,0,Pathology10,KeyTreatment2
3,KeyConsult3,keyMedecin15,KeyPatient43225,Name43225,FistName43225,NS00004,21.0,57.548695,37.621753,143.299552,0,Pathology44,KeyTreatment3
4,KeyConsult4,keyMedecin24,KeyPatient67704,Name67704,FistName67704,NS00005,62.0,82.950918,38.042512,88.830120,0,Pathology89,KeyTreatment4
5,KeyConsult5,keyMedecin23,KeyPatient5825,Name5825,FistName5825,NS00006,23.0,56.583576,37.492039,126.681199,0,Pathology18,KeyTreatment5
6,KeyConsult6,keyMedecin4,KeyPatient57600,Name57600,FistName57600,NS00007,29.0,55.793379,37.565603,129.503674,0,Pathology25,KeyTreatment6
7,KeyConsult7,keyMedecin29,KeyPatient53634,Name53634,FistName53634,NS00008,59.0,81.356842,38.084205,90.113505,1,Pathology83,KeyTreatment7
8,KeyConsult8,keyMedecin4,KeyPatient99139,Name99139,FistName99139,NS00009,39.0,78.169014,38.510829,107.707158,0,Pathology65,KeyTreatment8
9,KeyConsult9,keyMedecin14,KeyPatient21881,Name21881,FistName21881,NS00010,74.0,68.123826,40.071490,121.292904,0,Pathology78,KeyTreatment9

In [15]:
pandas_treatment_df.head(10)

    KeyTreatment KeyMedicament  QuantityMedicament
0  KeyTreatment0     KeyMed224                   2
1  KeyTreatment0      KeyMed85                   1
2  KeyTreatment1       KeyMed4                   2
3  KeyTreatment2     KeyMed874                   1
4  KeyTreatment2     KeyMed606                   2
5  KeyTreatment2     KeyMed243                   3
6  KeyTreatment3     KeyMed123                   3
7  KeyTreatment3     KeyMed906                   1
8  KeyTreatment4      KeyMed19                   2
9  KeyTreatment5     KeyMed296                   2

In [16]:
pandas_medicament_df.head(20)

   KeyMedicament NameMedicament
0        KeyMed0    Medicament0
1        KeyMed1    Medicament1
2        KeyMed2    Medicament2
3        KeyMed3    Medicament3
4        KeyMed4    Medicament4
5        KeyMed5    Medicament5
6        KeyMed6    Medicament6
7        KeyMed7    Medicament7
8        KeyMed8    Medicament8
9        KeyMed9    Medicament9
10      KeyMed10   Medicament10
11      KeyMed11   Medicament11
12      KeyMed12   Medicament12
13      KeyMed13   Medicament13
14      KeyMed14   Medicament14
15      KeyMed15   Medicament15
16      KeyMed16   Medicament16
17      KeyMed17   Medicament17
18      KeyMed18   Medicament18
19      KeyMed19   Medicament19

In [17]:
pandas_chambre_df.head(10)

     KeyChambre ChambreNumber
0   KeyChambre1          C001
1   KeyChambre2          C002
2   KeyChambre3          C003
3   KeyChambre4          C004
4   KeyChambre5          C005
5   KeyChambre6          C006
6   KeyChambre7          C007
7   KeyChambre8          C008
8   KeyChambre9          C009
9  KeyChambre10          C010

In [18]:
psdf_administration = ps.from_pandas(pandas_administration_df)
psdf_administration.to_csv('data_administration.csv')

/Users/giletcyp/anaconda3/lib/python3.11/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [19]:
psdf_medecins = ps.from_pandas(pandas_medecin_df)
psdf_medecins.to_csv('data_medecins.csv')

/Users/giletcyp/anaconda3/lib/python3.11/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [20]:
psdf_diagnostic_nan = ps.from_pandas(pandas_diagnostic_df_nan)
psdf_diagnostic_nan.to_csv('data_diagnostics.csv')

/Users/giletcyp/anaconda3/lib/python3.11/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [21]:
psdf_diagnostic_True = ps.from_pandas(pandas_diagnostic_df)
psdf_diagnostic_True.to_csv('data_diagnostics_true.csv')

/Users/giletcyp/anaconda3/lib/python3.11/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [22]:
psdf_treatment = ps.from_pandas(pandas_treatment_df)
psdf_treatment.to_csv('data_treatments.csv')

/Users/giletcyp/anaconda3/lib/python3.11/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [23]:
psdf_medicament = ps.from_pandas(pandas_medicament_df)
psdf_medicament.to_csv('data_medicaments.csv')

/Users/giletcyp/anaconda3/lib/python3.11/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [24]:
psdf_chambre = ps.from_pandas(pandas_chambre_df)
psdf_chambre.to_csv('data_chambres.csv')

/Users/giletcyp/anaconda3/lib/python3.11/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [25]:
psdf = ps.read_csv('data_administration.csv')
psdf.head(20)

/Users/giletcyp/anaconda3/lib/python3.11/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

         KeyConsult       KeyPatient       Name      FirstName  NumSecu    Date_In    Pathology    KeyChambre ChambreNumber   Date_Out
0   KeyConsult45056  KeyPatient38017  Name38017  FistName38017  NS45057 2023-11-23  Pathology27  KeyChambre37          C037 2023-11-24
1   KeyConsult45057  KeyPatient75131  Name75131  FistName75131  NS45058 2023-11-23  Pathology57          NULL          NULL 2023-11-23
2   KeyConsult45058  KeyPatient27733  Name27733  FistName27733  NS45059 2023-11-23  Pathology60   KeyChambre5          C005 2023-11-24
3   KeyConsult45059  KeyPatient76784  Name76784  FistName76784  NS45060 2023-11-23  Pathology30  KeyChambre43          C043 2023-11-25
4   KeyConsult45060  KeyPatient10645  Name10645  FistName10645  NS45061 2023-11-23  Pathology99  KeyChambre43          C043 2023-12-07
5   KeyConsult45061  KeyPatient56363  Name56363  FistName56363  NS45062 2023-11-23  Pathology93  KeyChambre86          C086 2023-12-05
6   KeyConsult45062  KeyPatient71034  Name71034  FistName71034  NS45063 2023-11-23  Pathology64  KeyChambre80          C080 2023-11-24
7   KeyConsult45063  KeyPatient59556  Name59556  FistName59556  NS45064 2023-11-23  Pathology21  KeyChambre32          C032 2023-11-27
8   KeyConsult45064  KeyPatient35807  Name35807  FistName35807  NS45065 2023-11-23  Pathology16          NULL          NULL 2023-11-23
9   KeyConsult45065  KeyPatient59826  Name59826  FistName59826  NS45066 2023-11-23  Pathology94  KeyChambre59          C059 2023-12-15
10  KeyConsult45066  KeyPatient18622  Name18622  FistName18622  NS45067 2023-11-23  Pathology94  KeyChambre69          C069 2023-12-13
11  KeyConsult45067  KeyPatient38724  Name38724  FistName38724  NS45068 2023-11-24  Pathology65  KeyChambre15          C015 2023-11-29
12  KeyConsult45068  KeyPatient91212  Name91212  FistName91212  NS45069 2023-11-24  Pathology56  KeyChambre89          C089 2023-11-26
13  KeyConsult45069  KeyPatient82439  Name82439  FistName82439  NS45070 2023-11-24  Pathology17  KeyChambre18          C018 2023-11-25
14  KeyConsult45070  KeyPatient87561  Name87561  FistName87561  NS45071 2023-11-24  Pathology53  KeyChambre39          C039 2023-11-26
15  KeyConsult45071  KeyPatient72888  Name72888  FistName72888  NS45072 2023-11-24  Pathology84  KeyChambre58          C058 2023-12-02
16  KeyConsult45072  KeyPatient71629  Name71629  FistName71629  NS45073 2023-11-24  Pathology17          NULL          NULL 2023-11-24
17  KeyConsult45073  KeyPatient49971  Name49971  FistName49971  NS45074 2023-11-24  Pathology66  KeyChambre15          C015 2023-11-28
18  KeyConsult45074  KeyPatient79957  Name79957  FistName79957  NS45075 2023-11-24  Pathology92  KeyChambre46          C046 2023-12-06
19  KeyConsult45075  KeyPatient95413  Name95413  FistName95413  NS45076 2023-11-24  Pathology98  KeyChambre21          C021 2023-12-11